body {
    margin: 0;
    padding: 0;
}

.bg {
    position: absolute;
    width: calc(100vw);
    height: calc(100vh);
    background: linear-gradient(#66BAB7, #33A6B8);
    display: flex;
}

.topbar {
    position: absolute;
    width: 100vw;
    height: 80px;
    display: flex;
}

.topbar .logo {
    width: 80px;
    height: 80px;
}

.topbar .title{
    margin: 0;
    height: 80px;
    font-size: 55px;
    line-height: 80px;
}

.leftbar {
    position: absolute;
    width: 300px;
    height: calc(100vh - 80px);
    top: 80px;
}

iframe {
    position: absolute;
    left: 300px;
    top: 80px;
    width: calc(100vw - 300px);
    height: calc(100vh - 80px);
    border: 1px solid #f3fafc;
}